<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome home</h1>
    <a href="/user/login">
        <button>Login</button>
    </a>
    <br>
    <a href="/user/sign-up">
        <button>Sign Up</button>
    </a>
    <br>
    <a href="/url/create">
        <button>Create short ID</button>
    </a>
    <br>
    <a href="/url">
        <button>Analytics</button>
    </a>
</body>
</html>